
.form-group{
    text-align: center
}
h2{
    text-align: center
}
.below{
    text-align: center
}
table,th,td{
    border:1px solid grey;
   color:black;
    font-family: 'Times New Roman', Times, serif;
    padding:7px;
}
table{
    padding-top:30px;
   margin-left:25%;
    width:45%;
    margin-top:30px;
}
th{
    background-color:rgb(255, 255, 255)
}
