input[type="text"]{
    width:30%;
 
   margin-left:40%
   
}
.required {
    color: red;
  }
  button{
   margin-left:44%;
    background-color: rgb(220, 238, 220);
  
  }

 label{
 
  margin-left:30%
 }
 h3{
   text-align: center;
 }

 